@font-face {
  font-family: 'AvenirNextBold';
  src: url('./fonts/avenir-next-bold.woff')  format('woff'),
       url('./fonts/avenir-next-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AndaleMono';
  src: url('./fonts/Andale-Mono.woff')  format('woff'),
       url('./fonts/Andale-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextReg';
  src: url('./fonts/avenir-next-medium.woff')  format('woff'),
       url('./fonts/avenir-next-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  padding:0;
  display: flex;
}

.ultraboost{
  width: 1025px;
  display: flex;
  flex-flow: column;
}

.ultraboost-header{
  width: inherit;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 25px;
}

button{
  cursor: pointer;
  outline: none;
  border: none;
}

a{
  text-decoration: none;
  outline: none;
}
