.buy-now-button{
  width: inherit;
  height: 115px;
  position: fixed;
  text-transform: uppercase;
  font-family: AvenirNextBold;
  font-size: 32px;
  color: #fff;
  background-image: linear-gradient(to right, #4949aa, #27275d);
  border: none;
  outline: none;
  position: fixed;
  bottom: 0px;
}
