
 /*top-panel style*/
.shoes{
  width: 1025px;
}
 .top-panel{
   box-sizing: border-box;
   margin:0;
   width: 1025px;
   padding-left: 25px;
   padding-top: 11px;
   padding-bottom: 11px;
   border-bottom: 3px solid #e7e7e7;
   display: flex;
   align-items:center;
 }

 .top-panel-icon{
   height: 55px;
   width: 55px;
   background-image: url(../images/filter.png);
   background-repeat: no-repeat;
   background-position: 8px 11px;
   background-color: #ebebeb;
 }

 .top-panel-sex{
   margin-left: 20px;
 }

 .sex, .sex-current{
   padding:0;
   margin-left: 10px;
   font-family: AvenirNextBold;
   font-size: 24px;
   text-transform: uppercase;
   background: none;
   border: none;
 }

 .sex-current, .size-button-current{
   color: #4d42f8;
 }

.sex, .size-button{
  color: #d6d6d6;
}

.size{
  margin-left: 50px;
  margin-right: 18px;
  color: #4d42f8
}

.size-buttons{
  width: 254px;
  display: flex;
  justify-content: space-between;
}

.size, .size-button, .size-button-current{
  padding: 0;
  font-family: AvenirNextBold;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  background: none;
}

 /* catalog style*/

.catalog{
  margin-left: 1em;
  margin-right: 1em;
  width: 1025px;
}
.row{
  padding-left: 25px;
  display: flex;
  margin-top: 22px;
  margin-bottom: 2px;
}

.col-4{
  margin-right: 24px;
  padding: 9px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f4f4f4;
}

.sale{
  position: absolute;
  left: 219px;
  top: 17px;
  width: 76px;
  color: #fff;
  font-family: AvenirNextBold;
  font-size: 14px;
  background-color: #ff5c5c;
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
  text-align: center;
}

.item-image{
  height: 197px;
  width: 294px;
}

.item-price, .item-price-sale{
  font-size: 30px;
  font-family: AvenirNextBold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  margin-top: 6px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-price{
  background-color: #fff;
  color: #111;
}

.item-price-sale{
  background-image: linear-gradient(107deg, #0c09bf, #966dd8);
  color: #fff;
}

button{
  cursor: pointer;
  outline: none;
}

a{
  text-decoration: none;
  outline: none;
}
