
/*content*/

.ultraboost{
  width: 1025px;
  display: flex;
  flex-flow: column;
}

.ultraboost-header{
  width: inherit;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 25px;
}

.header-leftcol{
   margin-left: 30px;
  }

  .header-rightcol{
    margin-right: 30px;
  }

  .item-name{
  width: 226px;
  color: #393939;
  text-transform: uppercase;
  font-family: AvenirNextbold;
  font-size:64px;
  margin:0;
}

.save-button{
  background-color: #e3e3e3;
  color: #fff;
  font-family: AvenirNextBold;
  font-size: 18px;
  text-transform: uppercase;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0;
  margin-top: 15px;
}

.color-selection{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.color-selection button{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  outline: none;
  border: none;
  margin-left: 13px;
}

.sale-tab{
  margin-left: 30px;
  width: 76px;
  color: #fff;
  font-family: AvenirNextBold;
  font-size: 14px;
  background-color: #ff5c5c;
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
  text-align: center;
}

.color-grey{
  background-color: #c5c5c5;
}
.color-blue{
  background-color: #4d87ca;
}
.color-black{
  background-color: #4a4a4a;
}
.color-white{
  background-color: #e0e0e0;
}

.item-price{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 109px;
  font-family: AvenirNextBold;
  font-size: 80px;
  color: #e3e3e3;
  margin-top: 20px;
  border: none;
  outline: none;
}

/*photo*/
.photos{
  width: inherit;
}
.photo-main{
  margin-top: 50px;
  margin-left: 77px;
}

.photo-main-img{
  height: 525px;
  width: 804px;
}

.photo-menu{
  box-sizing: border-box;
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}

.photo-button{
  background: none;
  padding: 0;
  margin-right: 15px;
  border: none;
  outline: none;
}

.photo-button-current{
  background: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  outline: none;
}

.lines{
  width: 159px;
}

.line{
  height: 3px;
  padding:0;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #e7e7e7;
  border-radius: 1.5px;
  border: none;
}

.see-more-button{
  padding:0;
  width: 45px;
  height: 57px;
  background: none;
  border: none;
  text-align: left;
  font-family: AvenirNextReg;
  font-size: 14px;
  color: #c0c0c0;
  margin-left: 10px;
}

.item-description{
  margin: 27px 30px 0 30px;
  font-family: AvenirNextReg;
  font-size: 33px;
  color: #d8d8d8;
  line-height: 1.52;
  padding: 0;
}

.item-description-first-word{
  color: #6e6e6e;
}

.buy-now-button{
  width: inherit;
  height: 115px;
  position: fixed;
  text-transform: uppercase;
  font-family: AvenirNextBold;
  font-size: 32px;
  color: #fff;
  background-image: linear-gradient(to right, #4949aa, #27275d);
  border: none;
  outline: none;
  position: fixed;
  bottom: 0px;
}

button{
  cursor: pointer;
  outline: none;
  border: none;
}

a{
  text-decoration: none;
  outline: none;
}
