.header-leftcol{
   margin-left: 30px;
  }

  .item-name{
  width: 226px;
  color: #393939;
  text-transform: uppercase;
  font-family: AvenirNextbold;
  font-size:64px;
  margin:0;
}

.save-button{
  background-color: #e3e3e3;
  color: #fff;
  font-family: AvenirNextBold;
  font-size: 18px;
  text-transform: uppercase;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0;
  margin-top: 15px;
}
