.photos{
  width: inherit;
}
.photo-main{
  margin-top: 50px;
  margin-left: 77px;
}

.photo-main-img{
  height: 525px;
  width: 804px;
}

.photo-menu{
  box-sizing: border-box;
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}

.photo-button{
  background: none;
  padding: 0;
  margin-right: 15px;
  border: none;
  outline: none;
}

.photo-button-current{
  background: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  outline: none;
}

.lines{
  width: 159px;
}

.line{
  height: 3px;
  padding:0;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #e7e7e7;
  border-radius: 1.5px;
  border: none;
}

.see-more-button{
  padding:0;
  width: 45px;
  height: 57px;
  background: none;
  border: none;
  text-align: left;
  font-family: AvenirNextReg;
  font-size: 14px;
  color: #c0c0c0;
  margin-left: 10px;
}
